version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:v1.12.4
    container_name: qdrant_local
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
#